<!DOCTYPE html>
<html ng-app="gwApp">
<head>
  <title>Greenway</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= javascript_include_tag "application" %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initCall"></script>
<script>
    'use strict';

    function initCall() {
        angular.bootstrap(document.getElementById('map'), ['gwApp']);
    }
</script>
</body>
</html>
